In [1]:
import os
import glob
import pandas as pd
os.chdir("resources")

In [2]:
# make sure all files in same formate "csv"
EC = pd.read_excel("1/2019-01-10 to 01-20.xlsx")
ec=EC.drop(['new_confirmed'], axis =1)
ec.to_csv("2019-01-10 to 01-20.csv")
ec.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,China,1/11/2020 22:00:00 AM,41.0,1.0,2.0
1,Hubei,China,1/12/2020 22:00:00 AM,41.0,1.0,6.0
2,Hubei,China,1/13/2020 22:00:00 AM,41.0,1.0,7.0
3,Hubei,China,1/14/2020 22:00:00 AM,41.0,1.0,7.0
4,Hubei,China,1/15/2020 22:00:00 AM,41.0,1.0,7.0

In [3]:
df = pd.read_csv('01-22-2020.csv')
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN

In [6]:
#Use glob to match the pattern ‘csv’
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [7]:
#Combine all files in the list and export as CSV
jan = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
jan.to_csv( "1/combined_csv.csv", index=False, encoding='utf-8-sig')

In [8]:
len(jan)

2818

In [10]:
jan.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN

In [12]:
df2 = pd.read_csv('2/03-01-2020.csv')
df2.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140

In [16]:
all_filenames2 = [n for n in glob.glob('*.{}'.format('csv'))]

In [21]:
#Combine all files in the list and export as CSV
marcombine= pd.concat([pd.read_csv(f) for f in all_filenames2 ])
#export to csv
jan.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

C:\Users\super\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.