In [1]:
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('resources/finaldata.csv')

In [3]:
df.head()

,Confirmed,Country_Region,Deaths,Last_Update,Latitude,Longitude,Province_State,Recovered
0,1.0,China,0.0,1/22/2020 17:00,30.6007,117.9249,Anhui,0.0
1,14.0,China,0.0,1/22/2020 17:00,40.2374,116.2305,Beijing,0.0
2,6.0,China,0.0,1/22/2020 17:00,29.4316,106.9123,Chongqing,0.0
3,1.0,China,0.0,1/22/2020 17:00,26.4837,117.9249,Fujian,0.0
4,0.0,China,0.0,1/22/2020 17:00,35.7518,104.2861,Gansu,0.0

In [4]:
for x in range(len(df)):
    if df['Country_Region'][x] == 'Mainland China':
        df['Country_Region'][x] = "China"

C:\Users\super\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
df.describe()

           Confirmed        Deaths      Latitude     Longitude     Recovered
count   83425.000000  83425.000000  80948.000000  80948.000000  83425.000000
mean      398.624825     21.235133     36.103159    -73.107886     97.309919
std      4649.106125    407.403150     11.309321     53.777846   1839.921100
min         0.000000      0.000000    -51.796300   -170.132000      0.000000
25%         1.000000      0.000000     33.378232    -95.905141      0.000000
50%         5.000000      0.000000     37.784367    -86.786461      0.000000
75%        32.000000      1.000000     41.617031    -79.121679      0.000000
max    177644.000000  21645.000000     72.000000    178.065000  72600.000000

In [7]:
country = df.groupby('Country_Region')

In [17]:
country.mean().sort_values(by=['Confirmed','Deaths'], ascending=False, na_position='first')

,Confirmed,Deaths,Latitude,Longitude,Recovered
Country_Region,,,,,
Italy,43485.039474,5006.842105,42.166209,12.419372,7287.697368
Spain,38989.360000,3628.333333,40.342717,-3.814637,10927.320000
Germany,28511.746835,478.544304,51.122469,10.072862,9233.468354
Iran,26305.464286,1668.696429,32.323307,53.519848,11400.892857
Turkey,18362.555556,381.250000,38.963700,35.243300,941.500000
...,...,...,...,...,...
Puerto Rico,0.500000,0.000000,18.200000,-66.500000,0.000000
The Bahamas,0.500000,0.000000,24.250000,-76.000000,0.000000
Guernsey,0.375000,0.000000,49.450000,-2.580000,0.000000
The Gambia,0.200000,0.000000,13.466700,-16.600000,0.000000
Republic of the Congo,0.166667,0.000000,-1.440000,15.556000,0.000000