In [1]:
import os
import glob
import pandas as pd
os.chdir("resources/1")

In [2]:
df1 = pd.read_csv('02-01-2020.csv')
df2 = pd.read_csv('02-02-2020.csv')
df3 = pd.read_csv('02-03-2020.csv')
df4 = pd.read_csv('02-04-2020.csv')
df5 = pd.read_csv('02-05-2020.csv')
df6 = pd.read_csv('02-06-2020.csv')
df7 = pd.read_csv('02-07-2020.csv')
df8 = pd.read_csv('02-08-2020.csv')
df9 = pd.read_csv('02-09-2020.csv')
df10 = pd.read_csv('02-10-2020.csv')
df11 = pd.read_csv('02-11-2020.csv')
df12 = pd.read_csv('02-12-2020.csv')
df13 = pd.read_csv('02-13-2020.csv')
df14 = pd.read_csv('02-14-2020.csv')
df15 = pd.read_csv('02-15-2020.csv')
df16 = pd.read_csv('02-16-2020.csv')
df17 = pd.read_csv('02-17-2020.csv')
df18 = pd.read_csv('02-18-2020.csv')
df19 = pd.read_csv('02-19-2020.csv')
df20 = pd.read_csv('02-20-2020.csv')
df21 = pd.read_csv('02-21-2020.csv')
df22 = pd.read_csv('02-22-2020.csv')
df23 = pd.read_csv('02-23-2020.csv')
df24 = pd.read_csv('02-24-2020.csv')
df25 = pd.read_csv('02-25-2020.csv')
df26 = pd.read_csv('02-26-2020.csv')
df27 = pd.read_csv('02-27-2020.csv')
df28 = pd.read_csv('02-28-2020.csv')
df29 = pd.read_csv('02-29-2020.csv')
df30 = pd.read_csv('01-22-2020.csv')
df31 = pd.read_csv('01-23-2020.csv')
df32 = pd.read_csv('01-24-2020.csv')
df33 = pd.read_csv('01-25-2020.csv')
df34 = pd.read_csv('01-26-2020.csv')
df35 = pd.read_csv('01-27-2020.csv')
df36 = pd.read_csv('01-28-2020.csv')
df37 = pd.read_csv('01-29-2020.csv')
df38 = pd.read_csv('01-30-2020.csv')
df39 = pd.read_csv('01-31-2020.csv')
df40 = pd.read_csv('2019-01-10 to 01-20.csv')

df1.head(5)

  Province/State  Country/Region     Last Update  Confirmed  Deaths  Recovered
0          Hubei  Mainland China  2/1/2020 11:53       7153     249        168
1       Zhejiang  Mainland China  2/1/2020 10:53        599       0         21
2      Guangdong  Mainland China  2/1/2020 14:23        535       0         14
3          Henan  Mainland China   2/1/2020 1:52        422       2          3
4          Hunan  Mainland China  2/1/2020 11:03        389       0          8

In [3]:
df40.head(2)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,China,1/11/2020 22:00:00 AM,41,1,2
1,Hubei,China,1/12/2020 22:00:00 AM,41,1,6

In [4]:
#update date of each file
df1['Last Update']= '2020-02-01'
df2['Last Update'] = '2020-02-02'
df3['Last Update'] = '2020-02-03'
df4['Last Update'] = '2020-02-04'
df5['Last Update'] = '2020-02-05'
df6['Last Update'] = '2020-02-06'
df7['Last Update'] = '2020-02-07'
df8['Last Update'] = '2020-02-08'
df9['Last Update'] = '2020-02-09'
df10['Last Update'] = '2020-02-10'
df11['Last Update'] = '2020-02-11'
df12['Last Update'] = '2020-02-12'
df13['Last Update'] = '2020-02-13'
df14['Last Update'] = '2020-02-14'
df15['Last Update'] = '2020-02-15'
df16['Last Update'] = '2020-02-16'
df17['Last Update'] = '2020-02-17'
df18['Last Update'] = '2020-02-18'
df19['Last Update'] = '2020-02-19'
df20['Last Update'] = '2020-02-20'
df21['Last Update'] = '2020-02-21'
df22['Last Update'] = '2020-02-22'
df23['Last Update'] = '2020-02-23'
df24['Last Update'] = '2020-02-24'
df25['Last Update'] = '2020-02-25'
df26['Last Update'] = '2020-02-26'
df27['Last Update'] = '2020-02-27'
df28['Last Update'] = '2020-02-28'
df29['Last Update'] = '2020-02-29'
df30['Last Update'] = '2020-01-22'
df31['Last Update'] = '2020-01-23'
df32['Last Update'] = '2020-01-24'
df33['Last Update'] = '2020-01-25'
df34['Last Update'] = '2020-01-26'
df35['Last Update'] = '2020-01-27'
df36['Last Update'] = '2020-01-28'
df37['Last Update'] = '2020-01-29'
df38['Last Update'] = '2020-01-30'
df39['Last Update'] = '2020-01-31'
df39.head(3)

  Province/State  Country/Region Last Update  Confirmed  Deaths  Recovered
0          Hubei  Mainland China  2020-01-31       5806   204.0      141.0
1       Zhejiang  Mainland China  2020-01-31        538     NaN       14.0
2      Guangdong  Mainland China  2020-01-31        436     NaN       11.0

In [5]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df40])
df.head(3)

  Province/State  Country/Region Last Update  Confirmed  Deaths  Recovered
0          Hubei  Mainland China  2020-02-01     7153.0   249.0      168.0
1       Zhejiang  Mainland China  2020-02-01      599.0     0.0       21.0
2      Guangdong  Mainland China  2020-02-01      535.0     0.0       14.0

In [6]:
len(df)

2848

In [7]:
DF = pd.read_csv('../../resources/china Province coordinates.csv')
DF.head(2)

  Province/State  Latitude  Longitude
0          Anhui   30.6007   117.9249
1        Beijing   40.2374   116.2305

In [8]:
data = pd.merge(df,
                DF[['Province/State', 'Latitude', 'Longitude']],
                how='left',
                on='Province/State')
data.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-02-01,7153.0,249.0,168.0,30.7378,112.2384
1,Zhejiang,Mainland China,2020-02-01,599.0,0.0,21.0,29.1416,119.7889
2,Guangdong,Mainland China,2020-02-01,535.0,0.0,14.0,23.3790,113.7633
3,Henan,Mainland China,2020-02-01,422.0,2.0,3.0,34.2904,113.3824
4,Hunan,Mainland China,2020-02-01,389.0,0.0,8.0,27.6253,111.8569

In [9]:
len(data)

2848

In [10]:
data.rename(columns={'Last Update':'Last_Update','Province/State':'Province_State','Country/Region':'Country_Region'}, inplace=True) 
data.head(2)

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-02-01,7153.0,249.0,168.0,30.7378,112.2384
1,Zhejiang,Mainland China,2020-02-01,599.0,0.0,21.0,29.1416,119.7889

In [11]:
values = {'Recovered': 0, 'Confirmed': 0, 'Deaths':0}
D=data.fillna(value=values)
D

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-02-01,7153.0,249.0,168.0,30.7378,112.2384
1,Zhejiang,Mainland China,2020-02-01,599.0,0.0,21.0,29.1416,119.7889
2,Guangdong,Mainland China,2020-02-01,535.0,0.0,14.0,23.3790,113.7633
3,Henan,Mainland China,2020-02-01,422.0,2.0,3.0,34.2904,113.3824
4,Hunan,Mainland China,2020-02-01,389.0,0.0,8.0,27.6253,111.8569
...,...,...,...,...,...,...,...,...
2843,China,China,1/20/2020,198.0,3.0,25.0,NaN,NaN
2844,Thailand,Thailand,1/21/2020 22:00:00 PM,2.0,0.0,0.0,NaN,NaN
2845,Japan,Japan,1/21/2020 22:00:00 PM,1.0,0.0,1.0,NaN,NaN
2846,South Korea,South Korea,1/21/2020 22:00:00 PM,1.0,0.0,1.0,NaN,NaN
2847,China,China,1/21/2020 22:00:00 PM,291.0,3.0,27.0,NaN,NaN

In [12]:
#export to csv
D.to_csv( "../combined11.csv", index=False, encoding='utf-8-sig')